@model IEnumerable<BLL.Klant>

@{
    ViewData["Title"] = "KlantList";
}

<h1>Klanten</h1>

<p>
    <a asp-action="CreateKlant">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voornaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tussenvoegsel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Achternaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelNR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Postcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HuisNR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voornaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tussenvoegsel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Achternaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelNR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HuisNR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.DOB.ToString("d"))*@
                @item.DOB.ToString("d")
            </td>
            <td>
                @Html.ActionLink("Edit", "KlantUpdate", new {  ID=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
